@import 'variables';

body {
  font-family: "Roboto", sans-serif;
  color: #333333;
  font-size: 14px;
}

p {
  margin: 0;
}

a {
  transition: 0.5s;
  text-decoration: none !important;
  // font-family: $core_font;
  &.link {
    color: $dark_gray!important;
  }

  &.link-gray {
    color: $light_gray!important;
    font-weight: 500;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $core_font!important;
  font-weight: 600;
  margin: 0;
  color: $dark_gray;
}

h1 {
  font-size: 50px;
  font-family: $head_font!important;
  // text-transform: uppercase;
}

.page-title {
  height: 17em;
  background-position: 50% 50%!important;
  text-shadow: 1px 1px 5px $dark_gray;
  background: image-url('title-bg');
  background-repeat: no-repeat;
  color: $white;
  padding-top: 1.5em;
  padding-bottom: 1.5em;

  h1 {
    font-size: 5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
}

h5 {
  font-size: 18px;
  font-weight: 900;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

img {
  margin: 0 !important;
  max-width: 100%;
}

.panel-heading.image-box {
  padding: 0!important;
  height: 15em!important;
  overflow: hidden;
}


h3 {
  font-size: 20px!important;
  margin-top: 0!important;
}

.btn-success {
  background: $green_core!important;

  &:hover {
    background: darken($green_core, 10%);
  }
}

.heading-bg {
  background: $green_core!important;
}

.list-items {
  line-height: 1.9em;
  li {
    a {
      color: lighten(#666, 20%);
      font-size: 1.1em!important;

      &:hover {
        color: $green_core;
      }
    }
  }
}

.btn-compare {
  border: 1px solid $green_core!important;
  background: none;
  color: $green_core;
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: 0;

  &:hover {
    background: $green_core;
    color: $white!important;
  }
}

.main {
  min-height: 630px;
  // background-color: $light!important;
}

.admin-links {
  margin-top :1em;
}


.alert {
  margin-top: 1em;
}

.show-page {
  margin-top: 3.3em;
}

.btn-full {
  width: 100%;
}


.devise-links {
  margin-top: 0.5em;
}

label.form-check-label.boolean {
  margin-left: 0.5em;
}

.index-page {
  margin-top: 2em;
}

.panel {
  border-radius: 0!important;
  border-color: $green_core;
  // box-shadow: 1px 1px 5px 0 $light_gray!important;
  // // background-color: rgba($white, 0.7)!important;
  // border: 0!important;
  // border-bottom: 1px solid $dark_gray!light_gray;
}

.panel.list-item {
  border-radius: 0!important;
  box-shadow: none!important;
  // background-color: rgba($white, 0.7)!important;
  border: 0!important;
  // border-bottom: 1px solid $light_gray!important;

  // &:last-child {
  //   border-bottom: 0!important;
  // }
}

ul.social-sidebar {
  li {
    margin-bottom: 1em;
    a {
      display: block;
      width: 100%;
      border-radius: 5px;
      color: $white;
      font-size: 1em;

      &.social-fb {
        background: #253e73!important;
        color: white;
      }

      &.social-tw {
        background: #23abff!important;
        color: white;
      }

      &.social-fb, &.social-tw {
        &:hover {
          background: lighten(#333, 20%) !important;
          transition: all 0.25s ease;

          i {
            background: #333 !important;
          }
        }
      }

      i {
        border-radius: 5px 0 0 5px;

        &:hover {
          background: $dark;
        }

        &.span-fb {
          padding: 1em 1.2em;
          background: #325399!important;
        }

        &.span-tw {
          padding: 1em;
          background: #0094ef!important;
        }
      }

    }
  }
}

.image-section {
  // padding: 2em!important;
}


.featured-section  {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background: $light_bg;
  margin-bottom: 1em;
}

.categories-sidebar {
  margin-bottom: 2em;
}

.sidebar {
  h4.section-heading {
    font-weight: 600!important;
  }
}

.sidebar-section {
  margin-bottom: 2em;
}
