@import 'variables';

.navbar-custom {
  background: $dark_gray;

  .navbar-collapse {
    ul.nav:not(.navbar-right) {
      li {
        a {
          font-size: 1.2em!important;
          text-shadow: 1px 1px 1px $dark!important;
          // text-transform: uppercase;
          color: $white;
          font-family: $core_font;

          &:hover, &.active {
            background: none;
            color: $green_core;
          }
        }
      }
    }
  }
}


ul.social-header-menu {
  li {
    a.social {
      color: $white;
      font-size: 1.2em;

      &.social-fb, &.social-tw {
        &:hover {
          transition: all 0.25s ease;

          i {
            background: #333 !important;
          }
        }
      }

      i {
        border-radius: 5px;

        &:hover {
          color: $green_core;
        }

        &.span-fb {
          padding-top: 1em;
          margin-right: 1em;
        }

        &.span-tw {
          padding-top: 1em;
          margin-right: 1em;
        }
      }
    }
  }
}



.btn-default#btn-search {
  border-left: 0;
  // background: none;

  &:focus {
    border-left: 0;
  }

  &:hover {
    background: $green_core!important;
    color: #fff!important;
  }
}

.navbar-brand {
  padding-top: 0!important;
}

.navbar {
  margin-bottom: 0!important;
}

.navbar-collapse {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

