$theme-color         : #fc854b;

$text-color          : #787878;
$text-color-dark     : #444444;
$bg-color-light      : #FFFFFF;
$bg-color-dark       : #f1f1f1;

/**
 * ---------------------------------------------------------------------------
 * 01. Load Google Font
 * ---------------------------------------------------------------------------
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i,700,900");